body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

header {
    padding: 20px;
    background-color: #1e1e1e;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}


section {
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 150px;
    border-radius: 50%;
}

.project-card {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

.skill {
    margin: 15px 0;
}

.progress-bar {
    height: 20px;
    background-color: #00bfa5;
    border-radius: 10px;
    transition: width 1s;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Dark/Light Mode */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode .progress-bar {
    background-color: #00796b;
}

/* Colored Text */

blue {
    color: dodgerblue;
}


green {
    color: green;
}

orange{
    color: orange;
}
